/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */
@import url('https://fonts.googleapis.com/css2? family= Lato:wght@400;700 & family= Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800; 1400;1500;1600;1700;1800 & mostrar=intercambiar');


/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/

body{
    font-family: 'Lato', sans-serif;
    background-color: #fbfbfb;
    line-height: 1.2;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 90px;
    padding: 10px 20px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    box-shadow: 6px 6px 10px #cecbcb;
    background-color: #fbfbfb;
   
}

header ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header figure img .logo{
    max-height: 90px;
}

nav li {
    margin-right: 20px;
    
}
 
nav li:last-child {
    margin-right: 20px;
}

main {
    max-width: 1200px;
    margin: auto;
    width: 80%;
}

/*Amé estas recomendaciones...💖 No te dejan desistir*/

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/

h1, h2, p{
    color: #0f0f0f;
}

h1{
    font-size: 36px;
    text-align: center;
}

h2{
    font-size: 28px;
}

/*main{
    width: 80%;
}*/

.inicio{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*.img{ Quité esta clase porque no me tomaba el estilo*/ 
figure img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 200px;
    margin-bottom: 40px;
    
}

.inicio .p{
    font-size:18px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.boton{
    background-color: #af599e;
    color:  #fbfbfb;
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
}

.contacto{
    min-height: 50vh;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: rgba(175, 89, 158, 0.3);
}

.text h2, p{
    text-align: center;
    padding: 20px;
}

p{
    font-size:18px;
    margin-top: 20px;
 }

 .iconos ul{
    display: flex;
    margin-bottom: 100px;
    flex-flow: row;
    justify-content:center;
 }

 .iconos a img{
    max-width: 40%;
    height: auto;
    
    justify-content:space-between;
    align-items:center;

    margin-left: 30%;
 }

footer{
    background-color: #af599e;
    color:  #fbfbfb;
    height: 90px;
}

footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fbfbfb;
}
